html, body {
	background-color: #222;
	bottom: 0;
	display: block;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}
canvas {
	display: block;
	transform-origin: left top;
}
